html body{
    margin: 0;
    height: 100vh;
}

:global #root{
    height: 100%;

}


body{
    background: #111111;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}